@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
:root {
  --clr-very-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: contain;
}

@media (min-width: 760px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-size: 50%, 70%;
  }
}

.main {
  width: 80%;
  max-width: 1440px;
  padding: 8rem 0;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .main {
    padding: 12rem 0;
  }
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

@media (min-width: 1100px) {
  .header {
    text-align: left;
    width: 50%;
  }
}

.header__title {
  font-weight: 700;
  color: var(--clr-very-dark-magenta);
  font-size: 3.2rem;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 2.7rem;
}

@media (min-width: 1100px) {
  .header__title {
    font-size: 4.5rem;
    max-width: 12ch;
  }
}

.header__text {
  color: var(--clr-dark-grayish-magenta);
  font-weight: 500;
  letter-spacing: -0.3px;
}

@media (min-width: 1100px) {
  .header__text {
    font-size: 2rem;
  }
}

.section-reviews {
  margin-bottom: 5rem;
}

@media (min-width: 1100px) {
  .section-reviews {
    width: 50%;
  }
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-light-grayish-magenta);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

@media (min-width: 1100px) {
  .review {
    max-width: 44.5rem;
    flex-direction: row;
    padding-left: 3.5rem;
  }
  .review:nth-child(2) {
    transform: translateX(4rem);
  }
  .review:nth-child(3) {
    transform: translateX(8rem);
  }
}

.review__text {
  color: var(--clr-very-dark-magenta);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2;
}

@media (min-width: 1100px) {
  .review__text {
    margin-left: 2rem;
  }
}

.review:not(:last-of-type) {
  margin-bottom: 1.4rem;
}

.section-testimonials {
  display: inline-block;
}

@media (min-width: 1100px) {
  .section-testimonials {
    display: flex;
    gap: 2rem;
  }
}

.testimonial {
  background-color: var(--clr-very-dark-magenta);
  color: var(--clr-light-grayish-magenta);
  padding: 3.5rem 3rem;
  border-radius: 1rem;
}

@media (min-width: 1100px) {
  .testimonial {
    max-width: 40rem;
  }
  .testimonial:nth-child(2) {
    transform: translateY(2rem);
  }
  .testimonial:nth-child(3) {
    transform: translateY(4rem);
  }
}

.testimonial__user {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.testimonial__photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 2.5rem;
}

.testimonial__user-name {
  font-weight: 700;
  font-size: 1.3rem;
}

.testimonial__user-state {
  color: var(--clr-soft-pink);
  font-size: 1.3rem;
}

.testimonial__text {
  font-size: 1.3rem;
  line-height: 1.7;
}

.testimonial:not(:last-of-type) {
  margin-bottom: 1.4rem;
}

@media (min-width: 1100px) {
  .testimonial:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {
  .split {
    display: flex;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--clr-soft-pink);
}
